a.out

__pycache__/*
*/__pycache__/*
submission/*
ece156a_hw3.zip
generator/features.csv
compiler/test.hex
generator/assembly.txt
generator/hex.txt
hexFiles/temp.hex
run/flags.txt
run/temp.hex
compiler/out.hex
run/out.txt
